<style>
table, th, td {
  border: 1px solid black;
}
</style>
<div id = 'new-post'>
<%= link_to "Create Post", new_post_path, remote: true%>
</div>
<h1 style="text-align :center; font-family :tahoma; color: green">Listing Post</h1>

<div id = 'create-post'>
	<%= render 'post'%>
</div>

<%= link_to "Back", root_path %>